.autocomplete {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 50vw;
    max-height: 5vh;
    min-width: 23em;
}

.loc-browser .autocomplete {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-height: 5vh;
    width: 100%;
}