.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

.logo-box {
  display: flex;
  flex: 0.5;
  background: url(./logo.svg) no-repeat center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.message-alert {
    opacity: 0;
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255,255,255,0.5);
    width: 12em;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.3em;
    padding: 1em;
    font-size: 1.3em;
    color: #444;
    text-align: center;
    animation-delay: 2s;
    animation: fadein 7s;
    animation-iteration-count: 1;
}

@keyframes fadein {
    from { opacity: 0; }
    20%  { opacity: 1; }
    80%  { opacity: 1; }
    100% { opacity: 0; }
}
