.item {
    display: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    align-content: center;
    padding: 0 0.5em;
    border-top: 1px solid rgba(0,0,0,0.1);
    font-size: 1em;
    color: #333;
}

.selectionList .show {
    display: auto;
}

.selectionList .hide {
    display: none;
}

.item .name {
    pointer-events: none !important;
}

.item .description {
    pointer-events: none !important;
}

/*
 * ***************************************
 *                 LIGHT THEME
 * ***************************************
 */

 .light .selectionList {
    background: linear-gradient(180deg, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1));
    width: 48vw;
    min-width: 21em;
    position: absolute;
    top: 105%;
    max-height: 55vh;
    overflow-y: auto;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 .light .item {
    display: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    align-content: center;
    padding: 1vh 0.5em;
    border-top: 1px solid rgba(0,0,0,0.1);
    font-size: 1em;
    color: #333;
}

.light .item .name {
    color: #333;
}

.light .item .description {
    color: #bbb;
}

.light .item.active {
    background: rgba(180,180,185,0.1)
}

.light .item.selected {
    background: rgba(180,180,185,0.05);
}

.light .item.selected .name {
    color: rgba(255,10,55,1);
}

.light .item.selected .description {
    color: #333;
}


/*
 * ***************************************
 *               DARK THEME
 * ***************************************
 */

 .dark .selectionList {
    width: 48vw;
    min-width: 21em;
    position: absolute;
    top: 105%;
    max-height: 55vh;
    overflow-y: auto;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark .selectionList {
    width: 48vw;
    min-width: 21em;
    position: absolute;
    top: 115%;
    max-height: 55vh;
    overflow-y: auto;
}

.dark .item {
    display: auto;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    align-content: center;
    padding: 0 0.5em;
    border-top: 1px solid rgba(180,180,185,0.2);
    font-size: 1em;
    color: #eee;
}

.dark .item .name {
    color: #eee;
}

.dark .item .description {
    color: #bbb;
}

.dark .item.active {
    background: rgba(180,180,185,0.15);
}

.dark .item.selected {
    background: rgba(180,180,185,0.1);
}

.dark .item.selected .name {
    color: rgba(255,40,85,1);
}

.dark .item.selected .description {
    color: #eee;;
}